@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --element-color: #333;
    --hover-color: #73B100;
}

* {
    margin: 0;
    padding: 0; 
    box-sizing:border-box;
}

/* SETUP FOR STARS RATING */

/* Base setup */

body {
    margin: 5%; 
    text-align: center;
    background: #111;
    color: var(--element-color);
    font-family: Roboto, Arial, sans-serif;
}
h1, h2 {
    color: white;
    margin-bottom: .5rem;
}

/* Ratings widget */
.rate {
    display: inline-block;
    border: 0;
}
/* Hide radio */
.rate > input {
    display: none;
}
/* Order correctly by floating highest to the right */
.rate > label {
    float: right;
}
/* The star of the show */
.rate > label:before {
    display: inline-block;
    font-size: 2rem;
    padding: .3rem .2rem;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005 "; /* full star */
}

/* Half star trick */
.rate .half:before {
    content: "\f089 "; /* half star no outline */
    position: absolute;
    padding-right: 0;
}
/* Click + hover color */
input:checked ~ label, /* color current and previous stars on checked */
label:hover, label:hover ~ label { color: var(--hover-color);  } /* color previous stars on hover */

/* Hover highlights */
input:checked + label:hover, input:checked ~ label:hover, /* highlight current and previous stars */
input:checked ~ label:hover ~ label, /* highlight previous selected stars for new rating */
label:hover ~ input:checked ~ label /* highlight previous selected stars */ { color: #A6E72D;  } 

/* SETUP FOR DROPDOWNS - CUSTOM */

.dropdown {
    margin: 2rem;
}

/* SETUP FOR DROPDOWNS */

select {
    width: 75%;
    margin: 0.5rem;
    background-color: var(--element-color);
    font-size: 1rem;
    padding: .5rem 3rem;
    text-transform: uppercase;
    font-family: Roboto, Arial, sans-serif;
}

select option {
    text-align: center;
}



/* SETUP FOR NATIONAL TEAM CHECKBOX */

label.national-team h2 {
    display: inline;
}

.checkbox label {
    color: white;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2em;
}

.checkbox input {
    height: 2em;
    width: 2em;
    margin: 0 0.25em;
    line-height: 2em;
}

input[type="checkbox"] { /* change "blue" browser chrome to yellow */
    filter: invert(220%) hue-rotate(18deg) brightness(1.7);
  }